<h1>Pictures of the worlds greatest butler</h1>

<ul>
  <% @images.each do |image| %>
    <li><img src="<%= image.url %>" /></li>
    <li><%= image.caption %></li>
  <% end %>
</ul>

<%= link_to "Add Image", new_image_path %>
