
<div class="col-sm-7">
  <div class="profile">
    <h1><%= @bio.name %></h1>
    <p><%=@bio.content %></p>
  </div>
</div>

<div class="col-sm-5">
  <img class="profile-pic"src="<%=@bio.url%>" />
</div>
